@import "normalize.css";

img
{
    position: relative;
}

.b-wrapper{
    width: 400px;
    margin: 200px auto 0;
}

.b-output{
    width: 1em;
    height: 2em;
    font-size: 1px;
    margin-left: 20px;
    position: relative;
    vertical-align: top;
    display: inline-block;
}